<div class="links">
    <ul class="char-links">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/create">Post +</a></li>
        
        {% if request.path == '/view/luke' %}
        {{ disabled }}
        {% else %}
        <li><a href="/view/luke">Luke</a></li>
        {% endif %}

        {% if request.path == '/view/jamie' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/jamie">Jamie</a></li>
        {% endif %}

        {% if request.path == '/view/manon' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/manon">Manon</a></li>
        {% endif %}

        {% if request.path == '/view/kimberly' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/kimberly">Kimberly</a></li>
        {% endif %}

        {% if request.path == '/view/marisa' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/marisa">Marisa</a></li>
        {% endif %}

        {% if request.path == '/view/lily' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/lily">Lily</a></li>
        {% endif %}

        {% if request.path == '/view/jp' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/jp">JP</a></li>
        {% endif %}

        {% if request.path == '/view/juri' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/juri">Juri</a></li>
        {% endif %}

        {% if request.path == '/view/deejay' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/deejay">Dee Jay</a></li>
        {% endif %}

        {% if request.path == '/view/cammy' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/cammy">Cammy</a></li>
        {% endif %}

        {% if request.path == '/view/ryu' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/ryu">Ryu</a></li>
        {% endif %}

        {% if request.path == '/view/honda' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/honda">E. Honda</a></li>
        {% endif %}

        {% if request.path == '/view/blanka' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/blanka">Blanka</a></li>
        {% endif %}

        {% if request.path == '/view/guile' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/guile">Guile</a></li>
        {% endif %}

        {% if request.path == '/view/ken' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/ken">Ken</a></li>
        {% endif %}

        {% if request.path == '/view/chunli' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/chunli">Chun-Li</a></li>
        {% endif %}

        {% if request.path == '/view/zangief' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/zangief">Zangief</a></li>
        {% endif %}

        {% if request.path == '/view/dhalsim' %}
            {{ disabled }}
        {% else %}
        <li><a href="/view/dhalsim">Dhalsim</a></li>
        {% endif %}

        {% if request.path == 'view/rashid' %}
            {{ disabled}}
        {% else %}
        <li><a href="/view/rashid">Rashid</a></li>
        {% endif %}
    </ul>
</div>